@font-face {
    font-family: "MonumentExtended-Regular.otf";
    src: url(font/MonumentExtended-Regular.otf);
}
@font-face {
    font-family: "MonumentExtended-Ultrabold.otf";
    src: url(font/MonumentExtended-Ultrabold.otf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: #0e0e0e;
    font-family: "MonumentExtended-Regular.otf";
}
.home {
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.menu__logo,
.menu__items-link{
    padding: 40px;
}
.menu__logo a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu__items {
    display: flex;
}
.menu_social {
    display: flex;
    align-items: center;
    padding: 40px;
}
.menu__items-link a {
    color: #fff;
    font-family: "MonumentExtended-Ultrabold.otf";
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.menu__items-link.active a {
    text-decoration: underline;
}
.container {
    margin-top: 200px;
    margin-left: 200px;
}
.container__item {
    position: relative;
    width: 540px;
    height: 360px;
    margin: 50px 500px 20px 80px;
}
.container__item-header h1 {
    position: relative;
    left: 40px;
    bottom: -40px;
    width: 600px;
    height: 360px;
    font-weight: lighter;
    font-size: 100px !important;
    color: #fff;
}
.container__item-title {
    color: #fff;
    text-decoration: none;
}
.container__item h1 {
    position: absolute;
    left: 40px;
    bottom: -40px;
    color: #fff;
    font-weight: lighter;
    font-size: 64px;
}
.container__item-1 a {
    color: #fff;
    text-decoration: none;
}
.container__item-2 a {
    color: #fff;
    text-decoration: none;
}
.container__item-1 {
    background: url(menu/cover.png) no-repeat 50% 50%;
    background-size:cover ;
}
.container__item-2 {
    background: url(menu/poster.png) no-repeat 50% 50%;
    background-size:cover ;
}

@media(max-width: 900px) {
    .container__item {
        width: 300px;
        height: 200px;
        margin: 50px 100px 20px 80px;
    }
    .container__item-header h1 {
        font-size: 30px !important;
        left: -50%;
    }
    .container__item h1 {
        font-size: 40px;
        bottom: -20px;
    }
}

#js-scroll {
    height: 200%;
}
.about__container {
    width: 50%;
    margin: 180px 0px 100px 100px;
    padding: 40px;
}
.about__container p {
    margin: 60px 0;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    z-index: 2;
}
.about__container-contact-link a {
    color: #fff;
}
p.about__container-link {
    font-size: 26px;
}
.about__container-link a {
    color: #fff;
    font-size: 26px;
}
@media(max-width: 900px) {
    .about__container {
        width: 70%;
        margin: 140px 0 60px 40px;
    }
    .cursor-follow {
        display: none;
    }
}
.project_container {
    width: 70%;
    margin: 100px auto;
    color: #fff;
    padding: 120px 40px ;
    text-align: center;
}
.project__container-title h1 {
    color: #fff;
    font-family: "MonumentExtended-Ultrabold.otf";
    font-size: 140px;
}
.project__container-subtitle {
    margin: 20px 0;
    font-size:  16px;
}
.project__container-images {
    position: relative;
    width: 100%;
    height: 2000px;
    padding: 40px 0;
}
.project__image {
    width: 600px;
    height: 600px;
    margin: 40px auto;
}
.project__poster {
    width: 600px;
    height: 800px;
    margin: 20px auto;
}
.project__image-poster {
    position: relative;
    top: -50px;
    left: -300px;
    background: url(poster/1.png);
    background-size: cover ;
}
.project__image-poster1 {
    position: relative;
    top: -50px;
    right: -250px;
    background: url(poster/2.png);
    background-size: cover ;
}
.project__image-one {
    position: relative; 
    top: -50px;
    background: url(cover/43.png);
    background-size: cover ;
}
.project__image-two {
    position: relative;
    top: -50px;
    right: -250px;
    background: url(cover/42.png);
    background-size: cover ;
}
.project__image-three {
    position: relative;
    top: -50px;
    left: -300px;
    background: url(cover/41.png);
    background-size: cover ;
}
.project__image-four {
    position: relative;
    top: -200px;
    left: -100px;
    background: url(cover/40.png);
    background-size: cover ;
}
.project__image-five {
    position: relative;
    top: -220px;
    right: -100px;
    background: url(cover/39.png);
    background-size: cover ;
}
.project__image-six {
    position: relative;
    top: -300px;
    left: -100px;
    background: url(cover/38.png);
    background-size: cover ;
}
.project__image-seven {
    position: relative;
    top: -450px;
    left: -250px;
    background: url(cover/37.png);
    background-size: cover ;
}
.project__image-eight {
    position: relative;
    top: -300px;
    left: -100px;
    background: url(cover/36.png);
    background-size: cover ;
}
.project__image-nine {
    position: relative;
    top: -400px;
    right: -200px;
    background: url(cover/35.png);
    background-size: cover ;
}
.project__image-ten {
    position: relative;
    top: -450px;
    left: -100px;
    background: url(cover/34.png);
    background-size: cover ;
}
.project__image-11 {
    position: relative; 
    top: -50px;
    background: url(cover/33.png);
    background-size: cover ;
}
.project__image-12 {
    position: relative;
    top: -50px;
    right: -250px;
    background: url(cover/32.png);
    background-size: cover ;
}
.project__image-13 {
    position: relative;
    top: -50px;
    left: -300px;
    background: url(cover/31.png);
    background-size: cover ;
}
.project__image-14 {
    position: relative;
    top: -200px;
    left: -100px;
    background: url(cover/30.png);
    background-size: cover ;
}
.project__image-15 {
    position: relative;
    top: -220px;
    right: -100px;
    background: url(cover/29.png);
    background-size: cover ;
}
.project__image-16 {
    position: relative;
    top: -300px;
    left: -100px;
    background: url(cover/28.png);
    background-size: cover ;
}
.project__image-17 {
    position: relative;
    top: -450px;
    left: -250px;
    background: url(cover/27.png);
    background-size: cover ;
}
.project__image-18 {
    position: relative;
    top: -300px;
    left: -100px;
    background: url(cover/26.png);
    background-size: cover ;
}
.project__image-19 {
    position: relative;
    top: -400px;
    right: -200px;
    background: url(cover/25.png);
    background-size: cover ;
}
.project__image-20 {
    position: relative;
    top: -450px;
    left: -100px;
    background: url(cover/24.png);
    background-size: cover ;
}
.project__image-21 {
    position: relative; 
    top: -50px;
    background: url(cover/23.png);
    background-size: cover ;
}
.project__image-22 {
    position: relative;
    top: -50px;
    right: -250px;
    background: url(cover/22.png);
    background-size: cover ;
}
.project__image-23 {
    position: relative;
    top: -50px;
    left: -300px;
    background: url(cover/21.png);
    background-size: cover ;
}
.project__image-24 {
    position: relative;
    top: -200px;
    left: -100px;
    background: url(cover/20.png);
    background-size: cover ;
}
.project__image-25 {
    position: relative;
    top: -220px;
    right: -100px;
    background: url(cover/19.png);
    background-size: cover ;
}
.project__image-26 {
    position: relative;
    top: -300px;
    left: -100px;
    background: url(cover/18.png);
    background-size: cover ;
}
.project__image-27 {
    position: relative;
    top: -450px;
    left: -250px;
    background: url(cover/17.png);
    background-size: cover ;
}
.project__image-28 {
    position: relative;
    top: -300px;
    left: -100px;
    background: url(cover/16.png);
    background-size: cover ;
}
.project__image-29 {
    position: relative;
    top: -400px;
    right: -200px;
    background: url(cover/15.png);
    background-size: cover ;
}
.project__image-30 {
    position: relative;
    top: -450px;
    left: -100px;
    background: url(cover/14.png);
    background-size: cover ;
}
.project__image-31 {
    position: relative; 
    top: -50px;
    background: url(cover/13.png);
    background-size: cover ;
}
.project__image-32 {
    position: relative;
    top: -50px;
    right: -250px;
    background: url(cover/12.png);
    background-size: cover ;
}
.project__image-33 {
    position: relative;
    top: -50px;
    left: -300px;
    background: url(cover/11.png);
    background-size: cover ;
}
.project__image-34 {
    position: relative;
    top: -200px;
    left: -100px;
    background: url(cover/10.png);
    background-size: cover ;
}
.project__image-35 {
    position: relative;
    top: -220px;
    right: -100px;
    background: url(cover/9.png);
    background-size: cover ;
}
.project__image-36 {
    position: relative;
    top: -300px;
    left: -100px;
    background: url(cover/8.png);
    background-size: cover ;
}
.project__image-37 {
    position: relative;
    top: -450px;
    left: -250px;
    background: url(cover/7.png);
    background-size: cover ;
}
.project__image-38 {
    position: relative;
    top: -300px;
    left: -100px;
    background: url(cover/6.png);
    background-size: cover ;
}
.project__image-39 {
    position: relative;
    top: -400px;
    right: -200px;
    background: url(cover/5.png);
    background-size: cover ;
}
.project__image-40 {
    position: relative;
    top: -450px;
    left: -100px;
    background: url(cover/4.png);
    background-size: cover ;
}
.project-next-link {
    position: relative;
    top: 3900px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-next-link a {
    color: #fff;
    text-decoration: none;
    font-size: 160px;
}
.project-next-link-poster {
    position: relative;
    top: -100px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-next-link-poster a {
    color: #fff;
    text-decoration: none;
    font-size: 160px;
}
.anime-js-title.letter {
    display: block;
    line-height: 1em;
}

@media(max-width: 900px) {
    .project__container-title h1 {
        font-size: 40px;
    }
    .project__container {
        width: 80%;
    }
    .project__container-images {
        width: 100%;
        margin: 0 auto;
    }
    .project__image {
        width: 90%;
    }
    .project__image-one,.project__image-two,.project__image-three,.project__image-four,.project__image-five,
    .project__image-six,.project__image-seven,.project__image-eight,.project__image-nine,.project__image-ten {
        position: relative;
        top: 0;
    }
}
.formulorz {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    max-width: 700px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    background:transparent;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 2px #fff;
    border: 1px solid #fff ;
}
.formulorz h2{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
}
.formulorz h2{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
}
.formulorz .input-field{
    margin-bottom: 10px;
}
.formulorz .input-field input[type = "text"],
.formulorz .textarea{
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 2px #fff;
}
.formulorz textarea{
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100%;
    border: 1px solid #fff;
    padding: 10px;
    resize: none;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 2px #fff;
}
.formulorz .btn input[type = "submit"]{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-top: 5px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 15px;
    background: #fff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.formulorz #error_message {
    margin-bottom: 50px;
    padding: 0px;
    background: #fff;
    text-align: center;
    font-size: 20px;
    font-family: "MonumentExtended-Regular";
    transition: all 0.5s ease;
}